.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:baseline;
  min-height: 10vh;
  width: 15vw;
}
.poster {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:15vw;
}
.description{
  text-align: justify;
  max-height: 30vh;
  overflow: auto;
  width:15vw;
}
.starsContainer{
  margin-top: 5px
}
.personalStars {
  cursor: pointer;
}
.like:hover {
	cursor: pointer;
}
.video:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    width: 90vw; 
  }
  .poster {
    width:90vw;
  }
  .description {
    max-height: none; 
    height: auto;
    width:90vw;
    
  }
}