.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:baseline;
  min-height: 10vh;
  width: 15vw;
}
.poster {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:15vw;
}
.description{
  text-align: justify;
  max-height: 30vh;
}
.personalStars {
  cursor: pointer;
}
.like:hover {
	cursor: pointer;
}
.video:hover {
	cursor: pointer;
}


